<template lang='pug'>
	div
		div.form-group
			label.control-label {{config.label}}
				span.mandatory(v-if='config.required') *
			input.form-control(type='text', @input='getInputValue($event)')
</template>

<script>

export default {
  props: ['config'],
  methods: {
    getInputValue (event) {
      this.$emit('onInput', this.config.dataModel, event.target.value || '')
    }
  }
}
</script>

<style>

</style>
