<template lang='pug'>
  <div class="tree-menu">
    <div v-if="!img" :style="indent" :class="has_children">{{ label }}</div>
    <img v-if="img" v-bind:src="img" :style="indent" :title="img">
    <tree-menu v-for="node in nodes" :nodes="node.child" :label="node.parent || node" :depth="depth + 1" :img="node.parent ? false : node" >
    </tree-menu>
  </div>
</template>
<script>
export default {
  props: [ 'label', 'nodes', 'depth', 'img' ],
  data () {
    return { showChildren: true }
  },
  name: 'tree-menu',
  computed: {
    indent () {
      return { transform: `translate(${this.depth * 50}px)` }
    }
  },
  methods: {
    toggleChildren () {
      this.showChildren = !this.showChildren
    },
    has_children () {
      return this.node.child
    }
  }
}
</script>
<style>
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1em;
}

.tree-menu {
    padding: 10px;
    margin: 10px;
    .has-children {
      cursor: pointer;
    }
}
</style>
