<template lang='pug'>
  div.center-block
    template(v-for='field in reqFields')
      textField(:config='field', @onInput='getFieldValues')
    div.text-center
      button.btn.btn-default(type='button', @click='submitData') Submit
    <pulse-loader :loading="loader"></pulse-loader>
    div(v-if='error')
      <p class="error">{{ error_msg }} </p>
    div(v-if='displayResults')
      treeMenu(:nodes='results', label="Crawl Results", :depth=0, :img=false)
</template>

<script>
import textField from '~/components/textField'
import treeMenu from '~/components/treeMenu'
import axios from 'axios'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import validURI from 'valid-url'
export default {
  components: {textField, treeMenu, PulseLoader},
  data () {
    return {
      reqFields: [
        {
          label: 'URL',
          dataModel: 'url',
          required: true
        },
        {
          label: 'Depth',
          dataModel: 'depth',
          required: true
        }
      ],
      fieldValues: {},
      loader: false,
      displayResults: false,
      error: false,
      error_msg: '',
      results: []
    }
  },
  methods: {
    getFieldValues (dataModel, value) {
      this.$set(this.fieldValues, dataModel, value)
    },
    submitData () {
      this.error = false
      if (!validURI.isUri(this.fieldValues.url)) {
        this.error = true
        this.error_msg = 'Invalid Url'
        return
      }
      if (isNaN(this.fieldValues.depth)) {
        this.error = true
        this.error_msg = 'Invalid Depth Value'
        return
      }
      this.displayResults = false
      this.loader = true
      axios.post('/api/crawler', this.fieldValues)
        .then((res) => {
          this.loader = false
          this.displayResults = true
          this.results = res.data
        })
    }
  }
}
</script>

<style>
.error {
 color: red
}
</style>
